.nav--body {
    display: flex;
    background-color: var(--primary);
    padding: 10px 10px;
    align-items: center;
    height: 80px;
}
.logo img{
    height: 80px;
    width: 100%;
}

.logo {
    font-size: 40px;
    margin-right: auto;
}

.logo a {
    text-decoration: none;
    color: white;
}

.logo a:hover {
    color: #2a4d44;
}

.list--body a {
    padding: 40px;
    text-decoration: none;
    color: white;
    font-weight:normal;
    font-size: 20px;
}

.list--body a:hover {
    color: rgb(43, 41, 41);
}
